{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atacocuk</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <header class="header">
        <img src="{% static 'logo.jpg' %}">
        <h1 class="main-title">TC. ATAKUM BELEDİYESİ</h1>
        <h2 class="main-title2">ATAÇOCUK GELİŞİM MERKEZİ ÖN KAYIT FORMU</h2>
    </header>

    <div class="container">
        <h1>Kreş Bilgisi</h1>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="kres">Kayıt Olmak İstediğiniz Şube</label>
                {{ form.kres }}
            </div>

            <h1>Öğrenci Bilgileri</h1>

            <div class="form-group">
                <label for="isim">Ad:</label>
                <input type="text" id="isim" name="isim" placeholder="Adınızı giriniz" required>
            </div>

            <div class="form-group">
                <label for="soyisim">Soyad:</label>
                <input type="text" id="soyisim" name="soyisim" placeholder="Soyadınızı giriniz" required>
            </div>

            <div class="form-group">
                <label for="tc_no">TC Kimlik Numarası:</label>
                <input type="text" id="tc_no" name="tc_no" placeholder="TC Kimlik Numaranızı giriniz"
                       required maxlength="11" pattern="\d{11}" title="TC Kimlik Numarası 11 haneli bir sayı olmalıdır."
                       oninput="this.value=this.value.replace(/[^0-9]/g,'');">
            </div>

            <div class="form-group">
                <label for="adres">Adres:</label>
                <input type="text" id="adres" name="adres" placeholder="Adresinizi giriniz" required>
            </div>

            <div class="form-group">
                <label>Öğrencinin tuvalet eğitimi</label>
                <div class="radio-group">
                    <input type="radio" id="tuvaletEgitimiYes" name="tuvalet_egitimi" value="True" required>
                    <label for="tuvaletEgitimiYes">Var</label>
                    <input type="radio" id="tuvaletEgitimiNo" name="tuvalet_egitimi" value="False" required>
                    <label for="tuvaletEgitimiNo">Bez Kullanıyor <span class="warning">(Bez kullanan öğrencilerin başvurusu geçerli değildir)</span></label>
                </div>
            </div>

            <div class="form-group">
                <label>Okul deneyimi var mı?</label>
                <div class="radio-group">
                    <input type="radio" id="okulEvet" name="okul_tecrubesi" value="Devlet" required>
                    <label for="okulEvet">Var</label>
                    <input type="radio" id="okulHayir" name="okul_tecrubesi" value="None" required>
                    <label for="okulHayir">Yok</label>
                </div>
            </div>

            <div class="form-group">
                <label>Varsa devlet ya da özel mi?</label>
                <div class="radio-group">
                    <input type="radio" id="devlet" name="devlet_ozel" value="Devlet" required>
                    <label for="devlet">Devlet</label>
                    <input type="radio" id="ozel" name="devlet_ozel" value="Özel" required>
                    <label for="ozel">Özel</label>
                </div>
            </div>

            <div class="form-group">
                <label for="kardes_sayisi">Ailedeki Toplam Çocuk Sayısı:</label>
                <input type="number" id="kardes_sayisi" name="kardes_sayisi" min="0" placeholder="Ailedeki toplam çocuk sayısını giriniz" required>
            </div>

            <h1>Aile Bilgileri</h1>

            <div class="container">
                <h1>Anne</h1>

                <div class="form-group">
                    <label for="anne_isim">Ad:</label>
                    <input type="text" id="anne_isim" name="anne_isim" placeholder="Adınızı giriniz" required>
                </div>

                <div class="form-group">
                    <label for="anne_soyisim">Soyad:</label>
                    <input type="text" id="anne_soyisim" name="anne_soyisim" placeholder="Soyadınızı giriniz" required>
                </div>

                <div class="form-group">
                    <label for="anne_telefon">Telefon Numarası:</label>
                    <input type="text" id="anne_telefon" name="anne_telefon" placeholder="Telefon Numaranızı giriniz"
                           required maxlength="11" pattern="\d{11}" title="Telefon Numarası 11 haneli bir sayı olmalıdır."
                           oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                </div>

                <div class="form-group">
                    <label for="anne_egitim">Öğrenim Durumu:</label>
                    <input type="text" id="anne_egitim" name="anne_egitim" placeholder="Öğrenim durumunu giriniz" required>
                </div>

                <div class="form-group">
                    <label for="anne_meslek">Mesleği:</label>
                    <input type="text" id="anne_meslek" name="anne_meslek" placeholder="Mesleğinizi giriniz" required>
                </div>

                <div class="form-group">
                    <label>Anne sağ mı ölü mü?</label>
                    <div class="radio-group">
                        <input type="radio" id="anne_sag" name="anne_yasiyor" value="True" required>
                        <label for="anne_sag">Sağ</label>
                        <input type="radio" id="anne_olu" name="anne_yasiyor" value="False" required>
                        <label for="anne_olu">Ölü</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Anne öz mü üvey mi?</label>
                    <div class="radio-group">
                        <input type="radio" id="anne_oz" name="anne_oz" value="True" required>
                        <label for="anne_oz">Öz</label>
                        <input type="radio" id="anne_uvey" name="anne_oz" value="False" required>
                        <label for="anne_uvey">Üvey</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="anne_maas">Aylık Net Gelir:</label>
                    <input type="text" id="anne_maas" name="anne_maas" placeholder="Aylık net gelirinizi giriniz"
                           required pattern="\d*" title="Lütfen sadece sayılar giriniz."
                           oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                </div>
            </div>

            <div class="container">
                <h1>Baba</h1>

                <div class="form-group">
                    <label for="baba_isim">Ad:</label>
                    <input type="text" id="baba_isim" name="baba_isim" placeholder="Adınızı giriniz" required>
                </div>

                <div class="form-group">
                    <label for="baba_soyisim">Soyad:</label>
                    <input type="text" id="baba_soyisim" name="baba_soyisim" placeholder="Soyadınızı giriniz" required>
                </div>

                <div class="form-group">
                    <label for="baba_telefon">Telefon Numarası:</label>
                    <input type="text" id="baba_telefon" name="baba_telefon" placeholder="Telefon Numaranızı giriniz"
                           required maxlength="11" pattern="\d{11}" title="Telefon Numarası 11 haneli bir sayı olmalıdır."
                           oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                </div>

                <div class="form-group">
                    <label for="baba_egitim">Öğrenim Durumu:</label>
                    <input type="text" id="baba_egitim" name="baba_egitim" placeholder="Öğrenim durumunu giriniz" required>
                </div>

                <div class="form-group">
                    <label for="baba_meslek">Mesleği:</label>
                    <input type="text" id="baba_meslek" name="baba_meslek" placeholder="Mesleğinizi giriniz" required>
                </div>

                <div class="form-group">
                    <label>Anne sağ mı ölü mü?</label>
                    <div class="radio-group">
                        <input type="radio" id="baba_sag" name="baba_yasiyor" value="True" required>
                        <label for="baba_sag">Sağ</label>
                        <input type="radio" id="baba_olu" name="baba_yasiyor" value="False" required>
                        <label for="baba_olu">Ölü</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Baba öz mü üvey mi?</label>
                    <div class="radio-group">
                        <input type="radio" id="baba_oz" name="baba_oz" value="True" required>
                        <label for="baba_oz">Öz</label>
                        <input type="radio" id="baba_uvey" name="baba_oz" value="False" required>
                        <label for="baba_uvey">Üvey</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="baba_maas">Aylık Net Gelir:</label>
                    <input type="text" id="baba_maas" name="baba_maas" placeholder="Aylık net gelirinizi giriniz"
                           required pattern="\d*" title="Lütfen sadece sayılar giriniz."
                           oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                </div>
            </div>

            <div class="container">
                <h1>Diğer Bilgiler</h1>

                <div class="form-group">
                    <label for="adres">Ev Sahibi mi:</label>
                    <div class="radio-group">
                        <input type="radio" id="ev_sahibi" name="ev_sahibi" value="True" required>
                        <label for="ev_sahibi">Evet</label>
                        <input type="radio" id="ev_kiraci" name="ev_sahibi" value="False" required>
                        <label for="ev_kiraci">Hayır</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Anne ve Baba Birlikte mi Yaşıyor?</label>
                    <div class="radio-group">
                        <input type="radio" id="birlikte" name="birlikte" value="True" required>
                        <label for="birlikte">Evet</label>
                        <input type="radio" id="ayri" name="birlikte" value="False" required>
                        <label for="ayri">Hayır</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Gönder">
            </div>
        </form>
    </div>
</body>
</html>
